In [2]:
# for data handling
import pandas as pd
import numpy as np

# train-test split
from sklearn.model_selection import train_test_split

# loss functions for today
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

# stuff for evaluating classifiers
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay
import matplotlib.pyplot as plt # for displaying a pretty confusion matrix

# dummy models for comparison
from sklearn.dummy import DummyRegressor
from sklearn.dummy import DummyClassifier

# regression models
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor

# classification models
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

# visual models
import seaborn as sns
import matplotlib.pyplot as plt

Due to an error in the dataset the airport identifiers from the entirety of October are compromised of intergers instead of the airport ID. This is quite troublesome to fix which is why we've decided to remove the rows from October even though this will defininetly decrease the accuracy of our model.

In [126]:
flight_df = pd.read_csv('flights.csv', dtype={'DESTINATION_AIRPORT': str, 'ORIGIN_AIRPORT': str})

In [127]:
#flight_df_new = flight_df.copy()
#remove_october = flight_df_new[flight_df_new['MONTH'] == 10]

#flight_df_filtered = flight_df_new[~remove_october]
#flight_df_filtered = flight_df.drop(flight_df[remove_october].index)

flight_df = flight_df[flight_df['MONTH'] != 10]

#flight_df = flight_df[flight_df['MONTH'] == 10]

flight_df.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [128]:
flight_df = flight_df.sample(n=50000, random_state=42)

flight_df.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
4184260,2015,9,18,5,B6,23,N923JB,JFK,LAX,700,...,951.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1523550,2015,4,8,3,US,1745,N838AW,IAH,CLT,1205,...,1540.0,10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3257379,2015,7,23,4,MQ,3384,N642MQ,MLI,ORD,555,...,648.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4128422,2015,9,14,1,WN,1913,N478WN,LAS,IAD,1530,...,2253.0,-12.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3025631,2015,7,9,4,EV,5165,N582CA,ATL,GRK,1030,...,1125.0,-19.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

# Exploratory

In [15]:
flight_df.shape

(50000, 31)

In [16]:
flight_df.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
flight_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 31 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   YEAR                 50000 non-null  int64
 1   MONTH                50000 non-null  int64
 2   DAY                  50000 non-null  int64
 3   DAY_OF_WEEK          50000 non-null  int64
 4   AIRLINE              50000 non-null  object
 5   FLIGHT_NUMBER        50000 non-null  int64
 6   TAIL_NUMBER          49941 non-null  object
 7   ORIGIN_AIRPORT       50000 non-null  object
 8   DESTINATION_AIRPORT  50000 non-null  object
 9   SCHEDULED_DEPARTURE  50000 non-null  int64
 10  DEPARTURE_TIME       48896 non-null  float64
 11  DEPARTURE_DELAY      48896 non-null  float64
 12  TAXI_OUT             48873 non-null  float64
 13  WHEELS_OFF           48873 non-null  float64
 14  SCHEDULED_TIME       50000 non-null  int64
 15  ELAPSED_TIME         48753 non-null  float64
 16  AIR_TIME             48753 non-null  float64
 17  DISTANCE             50000 non-null  int64
 18  WHEELS_ON            48839 non-null  float64
 19  TAXI_IN              48839 non-null  float64
 20  SCHEDULED_ARRIVAL    50000 non-null  int64
 21  ARRIVAL_TIME         48839 non-null  float64
 22  ARRIVAL_DELAY        48753 non-null  float64
 23  DIVERTED             50000 non-null  int64
 24  CANCELLED            50000 non-null  int64
 25  CANCELLATION_REASON  1138 non-null   object
 26  AIR_SYSTEM_DELAY     15408 non-null  float64
 27  SECURITY_DELAY       15408 non-null  float64
 28  AIRLINE_DELAY        15408 non-null  float64
 29  LATE_AIRCRAFT_DELAY  15408 non-null  float64
 30  WEATHER_DELAY        15408 non-null  float64
dtypes: float64(15), int64(11), object(5)
memory usage: 11.8+ MB

In [18]:
flight_df['ARRIVAL_DELAY'].max()

1384.0

Potential outlier - remove?

# Preprocessing

According to the FAA a flight is considered delayed it is delayed by 15 minutes or more.

In [136]:
df_fd = flight_df.copy()
df_fd = df_fd[df_fd.ARRIVAL_DELAY > 15]

We'll clear out some irrelevant columns and retain those we need for our prediction analysis.

In [137]:
# We will not consider cancelled or diverted flights as we are only concerned with delays
#df_fd = df_fd[df_fd.CANCELLED != 1]
#df_fd = df_fd[df_fd.DIVERTED != 1]

# Drop all columns that do not add interpretability to the model
df_fd = df_fd.drop(['YEAR', 'DEPARTURE_DELAY', 'DEPARTURE_TIME', 'TAXI_OUT','WHEELS_OFF', 'ELAPSED_TIME', 'AIR_TIME',
                  'WHEELS_ON','TAXI_IN','ARRIVAL_TIME','DIVERTED','CANCELLED', 'CANCELLATION_REASON', 'AIR_SYSTEM_DELAY',
                   'SECURITY_DELAY', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY'], axis=1)

# Drop TAIL_NUMBER for now due to value error
df_fd = df_fd.drop(['TAIL_NUMBER', 'FLIGHT_NUMBER', 'DISTANCE'], axis=1)
    
# Fill NaNs - just to make sure
#df_fd = df_fd.fillna(0)

df_fd.head(30)

,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,SCHEDULED_TIME,SCHEDULED_ARRIVAL,ARRIVAL_DELAY
5074433,11,13,5,UA,SAN,SFO,1606,99.0,1745,92.0
3592254,8,11,2,DL,DEN,SLC,1915,92.0,2047,53.0
2902520,7,1,3,EV,ICT,ORD,1756,117.0,1953,145.0
3405158,7,31,5,EV,PBI,IAH,1705,164.0,1849,33.0
4318851,9,26,6,DL,MSP,ANC,1735,354.0,2029,56.0
2651251,6,16,2,MQ,XNA,ORD,1914,111.0,2105,35.0
1820738,4,26,7,WN,HOU,IND,2035,135.0,2350,24.0
5301306,11,28,6,WN,BWI,MDW,1755,130.0,1905,26.0
5243421,11,24,2,AA,SFO,DFW,1540,204.0,2104,78.0
3440759,8,2,7,WN,ATL,MSP,2100,160.0,2240,21.0
3752753,8,21,5,EV,IAH,JAX,1258,132.0,1610,19.0
5264657,11,25,3,B6,RDU,JFK,2010,96.0,2146,40.0
4935234,11,4,3,EV,ATL,AEX,2044,103.0,2127,51.0
3115497,7,14,2,AA,CLT,BWI,1630,90.0,1800,178.0
1430528,4,2,4,UA,ORD,EWR,1515,135.0,1830,20.0
2057230,5,11,1,UA,IAH,SFO,1430,258.0,1648,33.0
489095,2,2,1,WN,MDW,ICT,1100,110.0,1250,30.0
3516165,8,7,5,AA,MIA,IAH,930,166.0,1116,46.0
5813393,12,31,4,AA,DFW,PHX,1335,158.0,1513,37.0
2923556,7,2,4,NK,LAS,LBE,2215,258.0,533,102.0
114771,1,8,4,MQ,ORD,OMA,1010,92.0,1142,75.0
4940901,11,5,4,DL,ATL,LAS,942,271.0,1113,52.0
75792,1,5,1,AA,RDU,MIA,1820,129.0,2029,19.0
1644206,4,15,3,US,RDU,CLT,1955,57.0,2052,35.0
3977050,9,4,5,WN,LAS,SEA,1145,160.0,1425,30.0
833568,2,24,2,OO,ORD,BOI,1739,243.0,2042,30.0
2071875,5,12,2,B6,BQN,MCO,1220,174.0,1514,41.0
1710699,4,20,1,DL,BHM,ATL,645,69.0,854,23.0
141597,1,9,5,NK,MSP,LAS,2159,200.0,2319,23.0
1119001,3,14,6,NK,MSY,DFW,1429,100.0,1609,17.0

Encoding

In [138]:
columns_to_encode = ['AIRLINE', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT']

df_fd = pd.get_dummies(df_fd, columns=columns_to_encode,  drop_first=True)

df_fd.head()

,MONTH,DAY,DAY_OF_WEEK,SCHEDULED_DEPARTURE,SCHEDULED_TIME,SCHEDULED_ARRIVAL,ARRIVAL_DELAY,AIRLINE_AS,AIRLINE_B6,AIRLINE_DL,...,DESTINATION_AIRPORT_TVC,DESTINATION_AIRPORT_TWF,DESTINATION_AIRPORT_TXK,DESTINATION_AIRPORT_TYR,DESTINATION_AIRPORT_TYS,DESTINATION_AIRPORT_UST,DESTINATION_AIRPORT_VPS,DESTINATION_AIRPORT_WRG,DESTINATION_AIRPORT_XNA,DESTINATION_AIRPORT_YUM
5074433,11,13,5,1606,99.0,1745,92.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3592254,8,11,2,1915,92.0,2047,53.0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2902520,7,1,3,1756,117.0,1953,145.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3405158,7,31,5,1705,164.0,1849,33.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4318851,9,26,6,1735,354.0,2029,56.0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [62]:
df_fd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14871 entries, 27 to 49997
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   MONTH                14871 non-null  int64
 1   DAY                  14871 non-null  int64
 2   DAY_OF_WEEK          14871 non-null  int64
 3   AIRLINE              14871 non-null  int32
 4   ORIGIN_AIRPORT       14871 non-null  int32
 5   DESTINATION_AIRPORT  14871 non-null  int32
 6   SCHEDULED_DEPARTURE  14871 non-null  int64
 7   SCHEDULED_TIME       14871 non-null  int64
 8   SCHEDULED_ARRIVAL    14871 non-null  int64
 9   ARRIVAL_DELAY        14871 non-null  float64
dtypes: float64(1), int32(3), int64(6)
memory usage: 1.1 MB

In [73]:
df_fd.head()

,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,SCHEDULED_TIME,SCHEDULED_ARRIVAL,ARRIVAL_DELAY
27,1,1,4,8,193,95,115,207,542,25.0
30,1,1,4,8,211,199,125,204,549,43.0
50,1,1,4,2,34,167,307,173,500,20.0
52,1,1,4,2,252,167,400,185,605,85.0
55,1,1,4,2,252,21,438,241,739,89.0

Train-Test split

In [139]:
y = df_fd['ARRIVAL_DELAY']
X = df_fd.drop('ARRIVAL_DELAY', axis=1)

#X = df_fd[['MONTH', 'DAY', 'DAY_OF_WEEK', 'SCHEDULED_DEPARTURE', 'SCHEDULED_TIME', 'SCHEDULED_ARRIVAL']]

#df_fd_enc[['MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
#          'SCHEDULED_DEPARTURE', 'SCHEDULED_TIME', 'DISTANCE', 'SCHEDULED_ARRIVAL']]

Box plot visual

In [32]:
df_melted = pd.melt(df_fd, id_vars=X, value_vars=[y])

# Create a box plot using Seaborn
plt.figure(figsize=(10, 6))
sns.boxplot(x='variable', y='value', data=df_melted)
plt.title('Box Plot of Y by Categories in X')
plt.xlabel('X Categories')
plt.ylabel('Y Values')
plt.xticks(rotation=45)  # Rotate x-axis labels for better readability

plt.show()

KeyError: "The following 'value_vars' are not present in the DataFrame: [16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 84.0, 85.0, 86.0, 87.0, 88.0, 89.0, 90.0, 91.0, 92.0, 93.0, 94.0, 95.0, 96.0, 97.0, 98.0, 99.0, 100.0, 101.0, 102.0, 103.0, 104.0, 105.0, 106.0, 107.0, 108.0, 109.0, 110.0, 111.0, 112.0, 113.0, 114.0, 115.0, 116.0, 117.0, 118.0, 119.0, 120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126.0, 127.0, 128.0, 129.0, 130.0, 131.0, 132.0, 133.0, 134.0, 135.0, 136.0, 137.0, 138.0, 139.0, 140.0, 141.0, 142.0, 143.0, 144.0, 145.0, 146.0, 147.0, 148.0, 149.0, 150.0, 151.0, 152.0, 153.0, 154.0, 155.0, 156.0, 157.0, 158.0, 159.0, 160.0, 161.0, 162.0, 163.0, 164.0, 165.0, 166.0, 167.0, 168.0, 169.0, 170.0, 171.0, 172.0, 173.0, 174.0, 175.0, 176.0, 177.0, 178.0, 179.0, 180.0, 181.0, 182.0, 183.0, 184.0, 185.0, 186.0, 187.0, 188.0, 189.0, 190.0, 191.0, 192.0, 193.0, 194.0, 195.0, 196.0, 197.0, 198.0, 199.0, 200.0, 201.0, 202.0, 203.0, 204.0, 205.0, 206.0, 207.0, 208.0, 209.0, 210.0, 211.0, 212.0, 213.0, 214.0, 215.0, 216.0, 217.0, 218.0, 219.0, 220.0, 221.0, 222.0, 223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229.0, 230.0, 231.0, 232.0, 233.0, 234.0, 235.0, 236.0, 237.0, 238.0, 239.0, 240.0, 241.0, 242.0, 243.0, 244.0, 245.0, 246.0, 247.0, 248.0, 249.0, 250.0, 251.0, 252.0, 253.0, 254.0, 255.0, 256.0, 257.0, 258.0, 259.0, 260.0, 261.0, 262.0, 263.0, 264.0, 265.0, 266.0, 267.0, 268.0, 269.0, 270.0, 271.0, 272.0, 273.0, 274.0, 275.0, 276.0, 277.0, 278.0, 279.0, 280.0, 281.0, 282.0, 283.0, 284.0, 285.0, 286.0, 287.0, 288.0, 289.0, 290.0, 291.0, 292.0, 293.0, 294.0, 295.0, 296.0, 297.0, 298.0, 299.0, 300.0, 301.0, 302.0, 303.0, 304.0, 305.0, 306.0, 307.0, 308.0, 309.0, 310.0, 311.0, 312.0, 313.0, 314.0, 315.0, 316.0, 317.0, 318.0, 319.0, 320.0, 321.0, 322.0, 323.0, 324.0, 325.0, 326.0, 327.0, 329.0, 330.0, 332.0, 333.0, 334.0, 335.0, 336.0, 337.0, 338.0, 340.0, 341.0, 342.0, 343.0, 344.0, 345.0, 347.0, 350.0, 351.0, 352.0, 353.0, 354.0, 355.0, 356.0, 357.0, 358.0, 359.0, 360.0, 361.0, 362.0, 363.0, 364.0, 366.0, 368.0, 369.0, 370.0, 371.0, 372.0, 373.0, 374.0, 376.0, 378.0, 379.0, 381.0, 383.0, 384.0, 387.0, 388.0, 391.0, 392.0, 395.0, 396.0, 398.0, 399.0, 401.0, 402.0, 403.0, 405.0, 407.0, 408.0, 409.0, 412.0, 418.0, 419.0, 424.0, 425.0, 426.0, 428.0, 430.0, 433.0, 438.0, 442.0, 445.0, 446.0, 451.0, 453.0, 454.0, 456.0, 459.0, 460.0, 464.0, 465.0, 466.0, 467.0, 470.0, 476.0, 484.0, 493.0, 498.0, 499.0, 500.0, 502.0, 505.0, 506.0, 511.0, 512.0, 513.0, 514.0, 515.0, 519.0, 525.0, 531.0, 532.0, 535.0, 548.0, 570.0, 571.0, 574.0, 590.0, 606.0, 611.0, 629.0, 642.0, 693.0, 709.0, 711.0, 731.0, 732.0, 747.0, 750.0, 768.0, 788.0, 820.0, 843.0, 847.0, 863.0, 883.0, 888.0, 892.0, 902.0, 908.0, 915.0, 918.0, 934.0, 950.0, 1042.0, 1138.0, 1174.0, 1187.0, 1201.0, 1237.0, 1384.0]"

Creating training and test size

In [140]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=42)

# Regression

Code should be working, however requires a lot of memory unless we downsize the amount of rows.

In [141]:
fd_ln = LinearRegression()

fd_ln.fit(X_train, y_train)

LinearRegression()

In [142]:
print("Score: {:.3f}".format(fd_ln.score(X, y)))

Score: 0.057